In [15]:
%%HTML
<style>
   div#notebook-container    { width: 95%; }
   div#menubar-container     { width: 65%; }
   div#maintoolbar-container { width: 99%; }
</style>

In [16]:
csv_file_folder =  '../../data/input'
file_folder =  '../../data/feature'
submission_folder = '../../data/submission'

In [17]:
import os
import pandas as pd
import networkx as nx
import seaborn as sns

import tensorflow as tf
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.utils import shuffle
import os

In [19]:
os.listdir(submission_folder)

['submission_mpnn_keras.csv',
 'submission_lgbm_0.448.csv',
 'submission_lgbm_0.22.csv',
 'submission_lgbm_0.23.csv',
 'submission_mpnn_0.18.csv',
 'submission_blend_-1.83.csv',
 'submission_blend_-1.991.csv',
 'submission_mpnn_no_oof.csv',
 'submission_blend_-1.827.csv',
 'chemistry-of-best-models-1-839.csv',
 '.ipynb_checkpoints',
 'submission_+distance-is-all-you-need-lb-1-481_data1_oof_.csv',
 'submission_+distance-is-all-you-need-lb-1-481.csv',
 'submission_lgbm_0.19.csv']

In [20]:
sub = pd.read_csv(f'{csv_file_folder}/sample_submission.csv').drop(columns=['scalar_coupling_constant'])
for sub_f in ['submission_blend_-1.991.csv', 'submission_lgbm_0.19.csv']:
    sub_i = pd.read_csv(f'{submission_folder}/{sub_f}').rename(columns={'scalar_coupling_constant':f'scalar_coupling_constant_{sub_f}'})
    sub = pd.merge(sub, sub_i, how='left', on='id')

In [21]:
sub.head()

,id,scalar_coupling_constant_submission_blend_-1.991.csv,scalar_coupling_constant_submission_lgbm_0.19.csv
0,4658147,7.458679,6.953473
1,4658148,168.279318,191.791505
2,4658149,-4098.252183,3.781577
3,4658150,168.651128,191.527591
4,4658151,7.414087,6.897102

In [22]:
sub.drop(columns=['id']).corr()

,scalar_coupling_constant_submission_blend_-1.991.csv,scalar_coupling_constant_submission_lgbm_0.19.csv
scalar_coupling_constant_submission_blend_-1.991.csv,1.000000,0.997242
scalar_coupling_constant_submission_lgbm_0.19.csv,0.997242,1.000000

In [23]:
sub['scalar_coupling_constant'] = np.mean(sub.drop(columns=['id']).values, axis=1)

In [24]:
df_submission = sub[['id','scalar_coupling_constant']]
df_submission = df_submission.sort_values(by=['id'])
df_submission = df_submission.reset_index(drop=True)

In [25]:
np.mean([-1.991, -1.962])

-1.991

In [27]:
idx='final_one_question'
df_submission.to_csv('../../data/submission/submission_blend_{}.csv'.format(idx), index=False)
print(df_submission.shape)
df_submission.tail()

(2505542, 2)

              id  scalar_coupling_constant
2505537  7163684                  0.876721
2505538  7163685                  3.473657
2505539  7163686                  2.085701
2505540  7163687                  4.930371
2505541  7163688                118.274873

In [47]:
df_submission.head()

        id  scalar_coupling_constant
0  4658147                  6.840073
1  4658148                169.963933
2  4658149               -198.390993
3  4658150                171.218168
4  4658151                  6.695257

In [48]:
sub.head()

,id,scalar_coupling_constant_submission_lgbm_0.22.csv,scalar_coupling_constant_submission_mpnn_0.18.csv,scalar_coupling_constant
0,4658147,17.041840,-3.361693,6.840073
1,4658148,188.462827,151.465040,169.963933
2,4658149,12.017633,-408.799620,-198.390993
3,4658150,188.577927,153.858410,171.218168
4,4658151,17.055672,-3.665158,6.695257